.aboutme {
    width: 100%;
    height: 100vh;
    background: url('../../assets/MtnSunset.jpg') no-repeat center center/cover;
}

.aboutme .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aboutme .top {
    margin-top: 7rem;
    color: #f6f6f6;
}

.aboutme .body {
    justify-content: center;
    display: flex;
    margin: 3rem;
    font-size: 3rem;
    color: #f6f6f6;
}

.aboutme .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}

@media screen and (max-width:540px) {
    .aboutme .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}